NEXT_PUBLIC_CONTRACT_ADDRESS=0x0ac6a3541f7a6206aa39c194838ddf1debab965c
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=bc_29s8yo05
NEXT_PUBLIC_BASE_APP_ID=6a6189b4426d14cfbad57a24
NEXT_PUBLIC_DATA_SUFFIX=0x
